

.h2 {
  font-size: 3rem;
  
}
.h1 {
  margin-bottom: 0px;
  margin-right: 22px;
  background-color: rgba(245, 245, 245, 0.563);
  border-radius: 12px;
  color: white;
  padding-right: 8px;
  padding-left: 8px;
  
}
@media screen and (max-width: 768px) {
  .h2 {
    font-size: 3rem;
  }
  
}

.unsupported_network {
  width: 340px;
  max-width: 100%;
  margin: auto;
  margin-top: 20rem;
  padding: 1rem;
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}

.landing,
.connect_wallet,
.mint_nft,
.member_page {
  flex-direction: column;
  width: 1160px;
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  margin-top: 10rem;
  align-content: center;
  display: flex;
  text-align: center;
}

.member_page > div {
  display: flex;
  flex-direction:unset;
  width: 100%;
  text-align: center;
  gap: 2rem;
}

.member_page > p {
  font-size: 20px;
  color: white;
}

.member_page > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .member_page > div {
    flex-direction: column;
  }
  .member_page > div > div {
    width: 100%;
  }
}

.member_page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member_page h1 {
  margin-bottom: 0px;
    background-color: rgba(245, 245, 245, 0.563);
    border-radius: 12px;
    padding-right: 8px;
    padding-left: 8px;
    color: #000000;
}

.member_page form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member_page form h5 {
  margin-top: 0;
  color: #7700ee;
}

.member_page form .card > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.member_page form small {
  text-align: center;
  margin-top: -35px;
  color: red;
  font-size: 16px;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  color: #000;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
}

.btn_hero {
  margin: auto;
  width: 250px;
}

.button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: bold;
  font-family: inherit;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #121212;
}

.button:focus {
  background-color: #222;
}

.button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

.connect {
  position: fixed;
  top: 5%;
  left: 5%;
}

.btn {
  background-color: var(--tw-color1);
  outline: none;
  border: none;
  color: var(--white);
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
  transform-origin: center;
}

.btn:hover {
  background-color: var(--tw-color1-hover);
}

.btn:active {
  transform: scale(0.95);
}

.address {
  font-size: 1.5rem;
  margin-bottom: 16px;
}


.container {
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;    
  color: #000000;  
}

.page {
  width: inherit;
  border-radius: 20px;
  border: 1px solid var(--tw-color1);
  padding: 16px;
}

.pageContainer {
  max-width: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.arrowButton {
  border-radius: 50%;
  width: 30px;
}

.owner {
  font-size: 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #262936;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 5%;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #080808;
  font-weight: 600;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, #cc25b3 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  opacity: 0.8;
}

.ourCollection {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.collectionContainer {
  width: 1200px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.h1 {
  margin-bottom: 0px;
  background-color: rgba(245, 245, 245, 0.563);
  border-radius: 12px;
}

.explain {
  font-size: 1.125rem;
  max-width: 1200px;
}

.purple {
  color: #9f2c9d;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.textInput {
  width: 75%;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  margin-bottom: 16px;
}

.imageInput {
  width: 100%;
  height: 100px;
  border: 1px dashed grey;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  cursor: pointer;
}

.contractBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  flex-wrap: wrap;
}

.contractBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  width: 19%;
  height: 200px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 16px;
  padding-top: 25px;
}

/* Between 700px and 900px */
@media screen and (min-width: 700px) and (max-width: 900px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 48%;
  }
}

@media screen and (max-width: 699px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 98%;
  }
}

.nftBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.nftBox {
  border-radius: 16px;
  border: 1px solid rgb(226, 33, 33);
  width: 19%;
  min-height: 200px;
}

.optionSelectBox {
  border-radius: 16px;
  border: 1px solid rgb(180, 13, 231);
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-top: 16px;
}

.selectBoxTitle {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

.selectBoxDescription {
  color: rgba(240, 210, 246, 0.9);
  margin-top: 0px;
}
.optionSelectBox1 {
  border-radius: 16px;
  border: 1px solid rgb(0, 0, 0);
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 16px;
  background-color: #ffffff;
  
}
.selectBoxTitle1 {
  font-size: 1.75rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(18, 18, 17);
}
.selectBoxTitle1_1 {
  font-size: 1,1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxTitle1_2 {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxDescription1 {
  color: rgb(0, 0, 0);
}
.selectBoxDescription1_1 {
  color: rgb(0, 0, 0);
  margin-bottom: 55px;
}

.optionSelectBox2 {
  border-radius: 16px;
  border: 1px solid rgb(0, 0, 0);
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 16px;
  background-color: #ffffff;
}
.selectBoxTitle2 {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgb(3, 3, 3);
}
.selectBoxTitle2_1 {
  font-size: 1,1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxTitle2_2 {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxDescription2 {
  color: rgb(0, 0, 0) ;
  
}
.optionSelectBox3 {
  border-radius: 16px;
  border: 1px solid rgb(0, 0, 0);
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 16px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.selectBoxTitle3 {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgb(6, 6, 6);
}
.selectBoxTitle3_1 {
  font-size: 1,1rem;
  margin-top: 8px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxTitle3_2 {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxDescription3 {
  color: #040404; 
  margin-bottom: 15px;
}
.selectBoxDescription3_1 {
  color: #040404; 
  margin-bottom: 147px;
}
.optionSelectBox4 {
  border-radius: 16px;
  border: 1px solid rgb(0, 0, 0);
  width: 48%;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.selectBoxTitle4 {
  font-size: 1.75rem;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgb(2, 2, 2);
}
.selectBoxTitle4_1 {
  font-size: 1,1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxTitle4_2 {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(9, 9, 8);
}
.selectBoxDescription4 {
  color: #000000;
  margin-top: 15px;
  
}





/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    width: 49%;
    margin-top: 16px;
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid {
    justify-content: center;
  }
  .nftBox {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox1 {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox2 {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox3 {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox4 {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox5 {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox6 {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox7 {
    width: 90%;
    margin-top: 16px;
  }
  .optionSelectBox8 {
    width: 90%;
    margin-top: 16px;
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1600px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin-top: 16px;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(188, 15, 177, 0.4);
  gap: 16px;
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}


/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }
}

/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 16px;
}

.cardName {
  margin-bottom: 16px;
}

.cardDescription {
  color: rgba(255, 255, 255, 0.7);
}

.headerLogo {
  width: 135px;
  cursor: pointer;
}

.verticalSpacer {
  color: rgb(190, 11, 245);
  margin-left: 8px;
  margin-right: 8px;
}

.codeSnippet {
  text-align: start;
  padding: 8px;
  border: 1px solid rgba(112, 16, 163, 0.3);
  border-radius: 16px;
  width: 900px;
  max-width: 95vw;
  background-color: #282c34;
  overflow-x: auto;
  font-size: 1rem;
}

.noUnderline {
  text-decoration: none;
}

.detailPageContainer {
  max-width: 800px;
}

.detailPageHr {
  margin-top: 16px;
  margin-bottom: 32px;
}

.lightPurple {
  color: #e011a7;
}

.nftMedia {
  width: 100%;
  max-height: 300px;
  border-radius: 15px;
}

.amountToClaim {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 32px;
}

.noGapBottom {
  margin-bottom: 16px;
}
